*{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  background-color: pink;
}
h1{
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}